body{
    background-size: contain;
    background-position: center;
}
.heading{
    font-size: 25px;
    margin: 0px;
    width: 100%;
}
#status
{
font-size: 18px;
}
canvas{
    border-radius: 20px;
    box-shadow:10px 10px 10px grey;
}
